.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;

  &__toggle {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.4);
    z-index: -1;
  }
}

.auth {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  position: relative;
  padding: 3rem 4rem;

  &__toggle-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  &__header {
    text-transform: capitalize;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  &__footer {
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #878787;
    cursor: pointer;
    div {
      span {
        margin-left: 0.5rem;
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
