.auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  &__footer {
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #878787;
    cursor: pointer;
    div {
      span {
        margin-left: 0.5rem;
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
