@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 55.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 42.5%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #121212;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 5px;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #808080;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.app-container {
  padding-top: 6.4rem;
}
