@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.home {
  background: url("../../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: calc(100vh - #{$header-height});
  max-width: 140rem;
  margin: 0 $margin-large;
  position: relative;

  &__info {
    position: absolute;
    bottom: 0;
    max-width: 1000px;
    color: $white;
    padding-bottom: 4rem;

    &__header {
      font-size: 4rem;
      font-family: "Oswald";
      text-transform: uppercase;
    }

    &__text {
      margin-top: 0.5rem;
      margin-bottom: 4rem;
    }

    &__shop-btn {
      width: 10rem;
      border: none !important;
      &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        color: $black;
      }
    }
  }
}
