@import "../../sass/mixins";
@import "../../sass/variables";

.results {
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 1;
}

.products {
  position: relative;
  flex-grow: 1;
}

.product-card {
  position: relative;
  display: inline-block;
  margin: 0 1rem 5rem 1rem;
  top: 0;
  height: auto;
  vertical-align: top;
  z-index: 0;
  @include respond(phone) {
    margin-bottom: 3.5rem;
  }
  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
      transition: all 0.2s linear;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:hover > &__img img {
    transform: scale(1.05);
  }

  &__info {
    margin-top: $margin-small;

    &__name {
      text-transform: capitalize;
      font-weight: 600;
    }

    &__type {
      color: $grey-light;
      text-transform: capitalize;
      margin-top: $margin-xsmall;
    }

    &__price {
      margin-top: $margin-small;
      font-weight: 500;
      &::before {
        content: "$";
        padding-right: 4px;
      }
    }
  }
}

.left-nav-container {
  position: relative;
  width: 24rem;
  flex-shrink: 0;

  .left-nav {
    position: sticky;
    top: 0;
    width: 20rem;
    height: auto;
    overflow-y: auto;

    &__all-products {
      display: inline-block;
      font-size: $font-regular;
      font-weight: 600;
      color: $grey-dark;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}

.left-nav-mobile-container {
  z-index: 2;

  &__bg {
    background-color: rgba($black, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
  }

  .left-nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    padding-top: 4rem;
    overflow-y: auto;
    padding-left: 4rem;
    background-color: $white;
  }
}

.category-item {
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 0;
  cursor: pointer;

  &__name {
    display: inline-block;
    color: $grey-dark;
    text-transform: capitalize;
    &__count {
      padding-left: 0.5rem;
      color: #6d6d6d;
    }
  }
}

.filter {
  margin: $margin-medium 0;
  border-top: $border;
  &__header {
    font-size: $font-regular;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  &__options {
    margin-top: $margin-small;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
  }
}

.filter-item {
  display: flex;
  align-items: center;
  font-size: $font-regular;
  background-color: #fff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &__name {
    text-transform: capitalize;
    font-size: inherit;
  }

  &__color-patch {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 3rem;
    height: 3rem;
    border: 2px solid #d7d7d7;
    border-radius: 100px;
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border: $border;
    border-radius: 4px;
  }
}

.is--color {
  width: 32%;
  height: 100%;
  min-height: 62px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  background-color: $white;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @include respond(tabPort) {
    min-height: 50px;
  }

  .filter-item__name {
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 1.4;
    padding-top: 2px;

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
}

.is--size {
  justify-content: center;
  width: calc(100% / 3 - 0.6rem);
  height: 3.6rem;
  border-radius: 6px;
  margin: 0.3rem;
  &:hover {
    border: 1.2px solid #000 !important;
  }
  &:focus {
    outline: none;
  }
}

.is--default {
  width: 100%;
  border: none;
  margin-bottom: 1rem;
  .filter-item__name {
    margin-left: 1rem;
  }
}

.results-header-container {
  position: sticky;
  top: $margin-large;
  z-index: 1;
  background-color: #fff;
}

.results-header-offset {
  height: 2rem;
}

.results-header {
  display: flex;
  justify-content: flex-end;
  height: 6rem;

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__sort {
      position: relative;
      &__btn {
        span {
          margin-left: 1rem;
          color: $grey-light;
        }
      }
      .sort-dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $white;
        top: 100%;
        right: 0;
        padding: 2rem;
        border-bottom-left-radius: 20px;
        z-index: 2;
        &__option {
          margin-bottom: 1rem;
          text-align: right;
          background-color: $white;
          width: 15rem;
          right: 0;
          border: none;
          white-space: nowrap;
          font-size: inherit;
          font-family: inherit;
          cursor: pointer;
          z-index: 3;
          &:focus,
          &:active {
            outline: none;
          }
        }
      }
    }
    &__hide-filters,
    &__sort__btn {
      display: flex;
      align-items: center;
      font-family: inherit;
      font-size: $font-regular;
      background-color: $white;
      border: none;
      margin-left: 2rem;
      cursor: pointer;
      svg {
        margin-left: 0.5rem;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
