// layout width
$width-large: 140rem;
$width-medium: 120rem;
$width-small: 100rem;

//colors
$black: #111;
$white: #fff;
$grey-dark: #2e2e2e;
$grey-light: #757575;
$black-light: rgba($black, 0.4);
$black-xlight: rgba($black, 0.15);
$red: #ff5555;

// borders
$border: 1px solid $black-light;
$border-light: 1px solid $black-xlight;

//height
$header-height: 6.4rem;

// margin * padding
$margin-large: 4.8rem;
$margin-medium: 2.2rem;
$margin-small: 1rem;
$margin-xsmall: 0.5rem;

// width
$width-large: 1400px;
$width-medium: 1100px;
$width-small: 900px;

//font
$font-regular: 1.6rem;
