.cart {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 2rem;

  .cart__items {
    flex: 2;
    &__header {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  &__summary {
    flex: 1;
    padding-left: 2.4rem;
    border-left: 1px solid rgba(#000, 0.15);
    border-radius: 4px;
    position: sticky;
    &__checkout {
      display: flex;
      &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
      }
    }

    &__cont-shopping {
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      &__link {
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
          color: #808080;
        }
      }
    }
  }
}

.cart-item {
  display: flex;
  margin: 2rem 2rem 0 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(190, 190, 190);
  &__thumbnail {
    position: relative;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    background-color: #000;
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
      margin-top: -2.5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 18rem);
    padding-left: 2.5rem;

    &__header {
      &__primary {
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 600;
        padding-bottom: 0.5rem;
      }
      &__secondary {
        text-transform: capitalize;
        font-weight: 400;
        color: #808080;
      }
    }

    &__dropdown {
      display: flex;
      flex-direction: row;
      margin-top: 1.4rem;
      &__size,
      &__quantity {
        display: flex;
        flex-direction: row;
        text-transform: capitalize;
        &__header {
          font-weight: 400;
          margin-right: 1rem;
        }
      }
      &__size {
        margin-right: 2rem;
      }
    }
  }
}
