.cart-item {
  display: flex;
  margin: 2rem 2rem 0 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(190, 190, 190);
  &__thumbnail {
    position: relative;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    background-color: #000;
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
      margin-top: -2.5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 18rem);
    padding-left: 2.5rem;

    &__header {
      &__primary {
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 600;
        padding-bottom: 0.5rem;
      }
      &__secondary {
        text-transform: capitalize;
        font-weight: 400;
        color: #808080;
      }
    }

    &__dropdown {
      display: flex;
      flex-direction: row;
      margin-top: 1.4rem;
      &__size,
      &__quantity {
        display: flex;
        flex-direction: row;
        text-transform: capitalize;
        &__header {
          font-weight: 400;
          margin-right: 1rem;
        }
      }
      &__size {
        margin-right: 2rem;
      }
    }
  }
}
