.dropdown {
  border: none;
  position: relative;
  cursor: pointer;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  &__header {
    display: flex;
    align-items: center;
    color: #777777;
    text-transform: capitalize;

    span {
      padding-right: 4px;
    }
  }

  &__list {
    position: absolute;
    top: 2.8rem;
    left: 0;
    background: #dadada;
    z-index: 400;
    overflow-y: auto;
    max-height: 20rem;
    list-style: none;
    &__option {
      padding: 0.6rem 1.2rem;
      text-transform: capitalize;
      color: #000;
    }
  }
}
