.input {
  display: flex;
  position: relative;
  filter: none;
  height: 4.8rem;

  &__field {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 4px;
    font-size: 1.4rem;
    outline: none;
    border: none;
  }

  &__label {
    position: absolute;
    color: #666666;
    top: 0;
    left: 0;
    pointer-events: none;
    transform-origin: left;
    transform: translateY(2rem) scale(1);
    transition: all 0.3s;
    text-transform: capitalize;
  }

  &__field:focus + &__label {
    transform: scale(0.75) translateY(0.4rem);
  }

  &__baseline {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #cfd7df;
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__field:focus + &__baseline,
  &__field:active + &__baseline {
    background-color: #000;
  }
}
