//variables
$line-height: 6.4rem;
$base-margin: 2.5rem;
$base-color: #000;
$border: 1.2px solid $base-color;

//scss
.header-container {
  position: fixed;
  height: $line-height;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  &__logo {
    font-weight: 600;
    cursor: pointer;
    line-height: $line-height;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__nav {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    ul {
      display: flex;
      list-style-type: none;

      li {
        text-transform: capitalize;
        font-weight: 600;
        line-height: $line-height;
        margin-right: $base-margin;
        cursor: pointer;
      }
    }
  }
  &__ctas {
    display: flex;
    align-items: center;
    align-self: flex-end;
    right: 0;
    margin-left: auto;
    height: $line-height;
    &__search {
      display: flex;
    }
    &__cart {
      line-height: $line-height;
      &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        &__icon {
          position: relative;
          padding-left: 2px;
          display: flex;
          &__count {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -1rem;
            right: -1rem;
            font-size: 1rem;
            width: 1.4rem;
            height: 1.4rem;
            background-color: #333333;
            color: #fff;
            border-radius: 100rem;
          }
        }
      }
    }
    &__profile {
      line-height: $line-height;
    }
    &__login {
      background-color: #000;
      color: #fff;
      text-transform: capitalize;
      height: 4rem;
      line-height: 4rem;
      padding: 0 2rem;
    }

    & > * {
      margin-left: $base-margin;
      cursor: pointer;
    }
  }
}

.search-input {
  display: flex;
  align-items: center;
  position: relative;
  &:hover > &__input {
    width: 20rem;
  }

  &__input {
    font-family: "Quicksand", sans-serif;
    font-size: inherit;
    width: 12rem;
    height: 4.2rem;
    padding: 0.8rem 1.5rem;
    outline: none;
    border: 1.1px solid #000;
    border-radius: 4px;
    transition: width 0.2s ease-in-out;
    &:focus {
      width: 20rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 4.2rem;
    line-height: 4.2rem;
    border: 1.1px solid #000;
    border-left: none;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 1.5rem;
    background-color: #fff;
    cursor: pointer;
    &:focus,
    &:active {
      outline: none;
    }
  }
}

.account-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: inherit;
  span {
    text-transform: capitalize;
    padding-right: 0.4rem;
    color: #000;
  }
  &__options {
    position: absolute;
    top: 100%;
    background-color: #fff;
    border: 1px solid rgba(#000, 0.24);
    padding: 1rem 3rem;
    &__list {
      display: flex;
      flex-direction: column;
      &__option {
        list-style-type: none;
        line-height: 4rem;

        a {
          color: rgb(0, 0, 0);
          text-transform: capitalize;
          text-decoration: none;
        }
        button {
          color: #000;
          text-transform: capitalize;
          font-size: inherit;
          font-family: inherit;
          border: none;
          background-color: #fff;
          cursor: pointer;
          &:active,
          &:focus {
            outline: none;
          }
        }
        & > *:hover {
          color: #a0a0a0;
        }
      }
    }
  }
}
