.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;

  &__toggle {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.4);
    z-index: -1;
  }
}

.dialog {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  position: relative;
  padding: 3rem 4rem;
  border-radius: 4px;
  min-width: 40rem;
  min-height: 24rem;

  &__toggle-btn {
    position: absolute;
    right: -3rem;
    top: 0rem;
    height: 2.2rem;
    width: 2.2rem;
    padding: 0;
  }
}
