.hero {
  background: url("../../../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  width: 1400px;
  margin: auto;
  position: relative;
  &__info {
    position: absolute;
    bottom: 0;
    max-width: 1000px;
    color: #fff;
    padding: 4rem;
    &__header {
      font-size: 4rem;
      font-family: "Oswald";
      text-transform: uppercase;
    }

    &__text {
      margin-top: 0.5rem;
      margin-bottom: 4rem;
    }

    &__shop-btn {
      text-decoration: none;
    }
  }
}
